.weather {
  border-radius: 20px;
  box-shadow: 10px -2px 20px 15px rgb(0 0 0 / 30%);
  background-color: #6ba3c9;
  color: #fff;
  margin: 40px;
  max-width: 800px;
  overflow: hidden;

  @media (min-width: 769px) {
    display: flex;
  }

  @media (min-width: 880px) {
    margin: auto;
  }
}

.landscape {
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;

  @media (min-width: 769px) {
    height: 100%;
    border-radius: 20px;
  }

  @media (min-width: 900px) {
    width: 480px;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 10px 20px;

  @media (min-width: 400px) {
    justify-content: space-around;
  }
}

.city {
  font-weight: 600;
  font-size: 36px;
  line-height: 1;
  margin: 0;
  letter-spacing: 1.5px;
}

.underline_weather {
  font-size: 20px;
  line-height: 1;
  margin: 0;
  letter-spacing: 2px;
}

.description {
  font-size: 20px;
  line-height: 1;
  margin: 0;
}

.weather_icon {
  width: 100px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 20px 20px;

  @media (min-width: 400px) {
    justify-content: space-around;
  }
}

.temperature {
  font-weight: 600;
  font-size: 50px;
  margin: 0;
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.humidity_title {
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1;
  margin: 0 0;
}

.humidity {
  line-height: 1;
  margin: 0;
}

.right {
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  @media (min-width: 769px) {
    justify-content: space-around;
    display: flex;
  }
}

.search_form {
  text-align: center;
  padding-bottom: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 250px;
}

.search_input {
  text-align: center;
  border-radius: 20px;
  font-size: 16px;
  border-color: #fff;
  background-color: transparent;
  padding: 5px;
  color: #fff;
}

.search_button {
  background-color: rgba($color: #fff, $alpha: 0);
  text-decoration: none;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  padding: 5px;
  margin-top: 10px;
}

.search_button:active {
  color: #903ccf;
  background-color: #fff;
}

.search_button:hover {
  color: #903ccf;
  background-color: #fff;
}
